* 
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: black;
}

.img
{
	/* background: url(images/home-img.png) no-repeat center center fixed;
  background-size: cover;*/
}

.background{
	
	   height: 100%;
	   height: 100vh;
	   background: url('images/home-img.png') no-repeat;
	   background-size: cover;
	   background-position: center;
	   filter: blur(10px);
	   
}
.container{
	max-height: 1300px;
	padding: 20px 50px;
	display: flex;
	align-items: center;
	/*justify-content: space-between;*/
	position:  absolute;
	top: 10%;
	left: 10%;
	transform: translateY(-50%, -50%);
	width: 75%;
	height: 550px;
	/*width: 100%;
	min-height: 100vh;*/

	background: url('images/home-img.png') no-repeat;
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	margin-top: 20px;





}
a button {
	font-size: 14px;
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  color: darkorange;
  background: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px 12px;
  border: 1px solid white;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  color: darkorange;
  transition: 0.4s;
  transform: translateY(150%);
text-align: center;


position: absolute;
  /*top: 10%;*/
  left: 16%;



}

div.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: darkorange;
	padding: 30px;
	box-shadow: 0  10px 500px -10px white;
}

div.container div.form{
	width: 270px;
	margin-right: 30px;
}

div.container div.form h2{
	color: black;
	margin-bottom: 20px;

}

div.container div.form input{
	border: none;
	outline: none;
	border-radius: 0;
	width: 100%;
	border-bottom: 2px solid;
	margin-bottom: 25px;
	padding: 7px;
	font-size: 14px;
}

div.container div.form button{
color: white;
background-color: black;
border: none;
outline: none;
border-radius: 2px;
font-size: 14px;
padding:  5px 12px;
font-weight: 500;
}


div.container div.image img {
	 width: 300px;

}
.text h2{
 	font-size: 50px;
 	font-family: 'Great Vibes', sans-serif;
 	font-weight: 100px;
 	letter-spacing: 2px;
 	line-height: 50px;
 	 transform: translateY(75%);

 }
 * 
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background-color: black;
}

div.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: darkorange;
	padding: 30px;
	box-shadow: 0  10px 500px -10px white;
}

div.container div.form{
	width: 270px;
	margin-right: 30px;
}

div.container div.form h2{
	color: black;
	margin-bottom: 20px;

}

div.container div.form input{
	border: none;
	outline: none;
	border-radius: 0;
	width: 100%;
	border-bottom: 2px solid;
	margin-bottom: 25px;
	padding: 7px;
	font-size: 14px;
}

div.container div.form button{
color: white;
background-color: black;
border: none;
outline: none;
border-radius: 2px;
font-size: 14px;
padding:  5px 12px;
font-weight: 500;
 text-align: center;
}


div.container div.image img {
	 width: 300px;

}
.text h2{
 	font-size: 50px;
 	font-family: 'Great Vibes', sans-serif;
 	font-weight: 100px;
 	letter-spacing: 2px;
 	line-height: 50px;
 	 transform: translateY(75%);


 }

 body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;


}

.text {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 30px;
  	font-family: 'Raleway', sans-serif;
}
h2 {
  color: darkorange;
  font-size: 20px;
  text-align: center;
  /*font-weight: 100px;*/



 	font-family: 'Raleway', sans-serif;
 	font-weight: 700%;
 	text-transform: uppercase;
 	letter-spacing: 5px;
 	line-height: 70px;




}

p {
  color: white;
  font-size: 18px;
  margin: 10px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

a {
  color: darkorange;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}
